body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    color: #ff0000;
}

.wordItem {
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

.wordItem:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.wordItem.clicked {
    background-color: rgba(0, 0, 0, 0.2) !important;
}