/* Style pour le header */
header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Style pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;

    padding: 40px 10px 10px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #504e4e;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}
#wordList p {
    margin: 7px;
    padding: 5px;
}

.container {
    width: 1142px;
    margin: 0 auto;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.box {
    padding: 50px 0;
}

.item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    /*margin: 0 15px 30px;*/
    overflow: hidden;
    border-radius: 28px;
}

.item_link {
    display: block;
    /*padding: 15px;*/
    background-color: #f3d7b4;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.item_link:hover,
.item_link:hover .item_date {
    text-decoration: none;
    color: #FFF;
}
.item_link:hover .item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.item_title {
    min-height: 87px;
    /*margin: 0 0 25px;*/
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    z-index: 2;
    position: relative;
    align-content: center;
}

.item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
